.header__logo {
  margin-bottom: 41px;
  width: 142px;
  height: 33px;
  background-image: url(../../../images/logo.svg);
}
@media screen and (max-width: 600px) {
  .header__logo {
    background-image: url(../../../images/Vector-mini.svg);
    background-repeat: no-repeat;
    height: 25px;
    margin: 0 0 31px 27px;
  }
}
