.profile {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .profile {
    width: calc(100% - 48px * 2);
    margin: 0 48px;
  }
}
@media screen and (max-width: 780px) {
  .profile {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .profile {
    width: 282px;
    margin: auto;
  }
}
