.popup__filed{
    width: 358px;
    height: 13px;
    margin: 0 36px 0;
    padding: 0;
    border: 0px;
    border-bottom:1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 13px;
    font-family: Inter, Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    outline: none;
}
@media screen and (max-width:600px) { 
    .popup__filed{    
        width: 238px;
        margin: 0 22px 0;
        padding-bottom: 11px;
    }
}