.profile__logo {
  border: 0px;
  box-sizing: border-box;
  background: transparent;
  background-color: transparent;
  padding: 0;
}
.profile__logo:hover {
  background-image: url(../../../images/Vectorava.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .profile__logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 26px;
  }
}
