.element__delete-button {
  background-image: url(../../../images/delete-button.svg);
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 15px;
  right: 15px;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  overflow: hidden;
  cursor: pointer;
}
.element__delete-button:hover {
  opacity: 0.6;
}
